/* Mobile */
@media (max-width: 480px) {

	
}

/* Tablet */
@media (min-width: 768px) {

}

/* Desktop */
@media (min-width: 992px) {
}


body{
font-family: sans-serif;
background-image: url('../img/silver_scales.png');


}


header{
	background: url('../img/header.jpg') no-repeat center center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	padding: 65px 0 300px 0; 
	height: auto; 
	color:white;

}

header h1 { 

	font-size: 40px; 
	letter-spacing: 12px; 
	margin: 10px; 
	color: white; 

}

header h1 span { 
	color: #CC0000; 
	display: inline-block; 

}

header p { 
	letter-spacing: 1px; 
}

.about {
	text-align: center;
	padding: 0px 50px;

}

.about h4 {
	font-size: 3em;

}

.hours {

text-align: center;


}

.contact  {
	text-align: center;

}
.contact h4 {
	font-size: 2em;

}


.map {
text-align: center;

}

.map h4 {

font-size: 3em;

}


.pricing {
	

}

.menu {
	

}
a{

color:maroon;

}
a:hover{
	color:red;

}

.pricing h4 {
font-size: 3em;
text-align: center;

}

.pricing  {
font-size: 1em;
text-align: center;

}
.pricing ul {
text-align: left;
font-size: 25px;
font-family: sans-serif;
text-decoration: none;
list-style-type: none;
float: auto;

}


.menu h2 {

text-align: center;
font-size: 3em;


}

.menu{
	text-align: center;


}

.menu ul li {
	text-align: center;
	list-style-type: none;


}





















